/Inheritance2/build/
/Workers/nbproject/private/
/Workers/build/
/Beyblade/nbproject/private/
/Palindromik/nbproject/private/
/Palindromik/build/
/binomTarz/nbproject/private/
/binomTarz/build/
/asalSayi/nbproject/private/
/asalSayi/build/
/ucgenYildiz/nbproject/private/
/ucgenYildiz/build/
/binary/nbproject/private/
/binary/build/
/ebobBul/nbproject/private/
/ebobBul/build/
/AsalBul/nbproject/private/
/HafizaOyunu/nbproject/private/